!!!5
%html 
  %head 
    %title Salem/Keizer NAACP 1166
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-toggle" => ".navbar-collapse"}
            %span.icon-bar 
            %span.icon-bar 
            %span.icon-bar 
          %a.navbar-brand{href: "#"} Salem/Keizer NAACP 1166
        .navbar-collapse.collapse.navbar-right
          %ul.nav.navbar-nav 
            %li 
              %a{:href => ""} Home
            %li 
              %a{:href => ""} About
            %li 
              %a{:href => ""} Calendar
            %li 
              %a{:href => ""} Join
            %li 
              %a{:href => ""} Contact
    .container
      #splash.row
        .col-md-12
          =image_tag 'splash.jpg'
      #pitch.row
        .item.col-md-4
          %h2 Join
        .item.col-md-4
          %h2 Some other thing
        .item.col-md-4
          %h2 Donate
      = yield
